# local package
-e .

# external requirements
click==6.7
ipython==6.5.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
matplotlib==2.2.3
numpy==1.15.1
pandas==0.23.4
prompt-toolkit==1.0.15
requests==2.20.0
scipy==1.1.0
statsmodels==0.10.2
